div {
    width:300px;
    border: 2px solid black;
    border-top: none;
    padding: 20px;
}

.bottom{
    border-bottom: none;
}

div:hover {
    background-color: rgba(231, 83, 29, 0.815);
    cursor:default;
}